

.loader {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    background: conic-gradient(
      black 0 25%,

      rgba(0, 0, 0, 0.133) 25% 50%,
      rgba(0, 0, 0, 0.299) 50% 75%,
      rgba(0, 0, 0, 0.515) 75%

    );
    background-size: 200% 200%;
    animation: animateBackground 5s ease-in-out infinite;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  @keyframes animateBackground {
    25% {
      background-position: 0 100%;
    }
  
    50% {
      background-position: 100% 100%;
    }
  
    75% {
      background-position: 100% 0%;
    }
  
    100% {
      background-position: 0 0;
    }
  }

  
  


  .button-create {
    background: #d3d3d3;
    font-family: inherit;
    padding: 0.4em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .button-create:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .button-create:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }






















/*REPORTES BUTTON*/

.readmore-btn {
  width: fit-contentd;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fea358;
  border: none;
  border-radius: 4px;
  padding: 0px 5px;
  gap: 0px;
  transition: all 0.4s;
}
.book-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 40px;
  height: 90%;
}
.book-wrapper .book-page {
  width: 50%;
  height: auto;
  position: absolute;
}
.readmore-btn:hover .book-page {
  animation: paging 0.57s linear infinite;
  transform-origin: left;
}
.readmore-btn:hover {
  background-color: #0ebeff;
}
@keyframes paging {
  0% {
    transform: rotateY(0deg) skewY(0deg);
  }
  50% {
    transform: rotateY(90deg) skewY(-20deg);
  }
  100% {
    transform: rotateY(180deg) skewY(0deg);
  }
}
.text {
  width: 80px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 0, 0);
}


.readmore-btn:hover .text{

  color: white;
  transition: all 0.4;

}
















.ver_mas {
  font-size: 10px;
  padding: 0.5em 2em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  background-color: rgba(56, 247, 212, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ver_mas:hover .transition {
  width: 7.5em;
  height: 4em;
}

.ver_mas:active {
  transform: scale(0.97);
}









/* From Uiverse.io by vinodjangid07 */ 
.editBtn {
  width: 23px;
  height: 23px;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 255, 106, 0) ;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(133, 182, 8);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.5s;
  border-radius: 20%;
  filter: blur(8px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn:hover svg {
  fill: rgb(255, 255, 255);
}

.editBtn svg {
  height: 15px;
  fill: rgb(0, 0, 0);
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 13px;
  height: 1.5px;
  position: absolute;
  bottom: 5px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}















/* From Uiverse.io by faxriddin20 */ 
.checkbox-wrapper-12 {
  position: relative;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: lime;
    box-shadow: 0 -18px 0 -8px lime, 16px -8px 0 -8px lime, 16px 8px 0 -8px lime,
      0 18px 0 -8px lime, -16px 8px 0 -8px lime, -16px -8px 0 -8px lime;
  }

  100% {
    background: lime;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: lime;
    box-shadow: 0 -18px 0 -8px lime, 16px -8px 0 -8px lime, 16px 8px 0 -8px lime,
      0 18px 0 -8px lime, -16px 8px 0 -8px lime, -16px -8px 0 -8px lime;
  }

  100% {
    background: lime;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: lime;
    box-shadow: 0 -18px 0 -8px lime, 16px -8px 0 -8px lime, 16px 8px 0 -8px lime,
      0 18px 0 -8px lime, -16px 8px 0 -8px lime, -16px -8px 0 -8px lime;
  }

  100% {
    background: lime;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: lime;
    box-shadow: 0 -18px 0 -8px lime, 16px -8px 0 -8px lime, 16px 8px 0 -8px lime,
      0 18px 0 -8px lime, -16px 8px 0 -8px lime, -16px -8px 0 -8px lime;
  }

  100% {
    background: lime;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}










.button-devolucion {
  background-image: linear-gradient(to right bottom, rgb(0, 255, 238), rgb(156, 255, 234), #a5fcff, #00000072, #000000de);
  border: none;
  font-size: 0.9em;
  border-radius: 0;
  padding: 3.3px;
  transition: border-top-left-radius 0.2s ease-in, 
  border-top-right-radius 0.2s ease-in 0.15s, 
  border-bottom-right-radius 0.2s ease-in 0.3s,
  border-bottom-left-radius 0.2s ease-in 0.45s, 
  padding 0.2s ease-in;
  position: relative;
}

.button-devolucion__int {
  background-color: #212121;
  color: white;
  border-radius: 0;
  padding: 4px 8px;
  transition: all 0.2s ease-in,
  border-top-left-radius 0.2s ease-in, 
  border-top-right-radius 0.2s ease-in 0.15s, 
  border-bottom-right-radius 0.2s ease-in 0.3s,
  border-bottom-left-radius 0.2s ease-in 0.45s,
  padding 0.2s ease-in;
  font-weight: 600;
  z-index: -1;
  box-shadow: -1.5px -1px 30px -10px rgba(46, 255, 67, 0.8),
    1.5px -1px 25px -10px rgba(0, 255, 200, 0.7),
    1.5px 1px 25px -10px rgba(0, 0, 0, 0.7),
    -1.5px 1px 25px -10px rgba(0, 0, 0, 0.7);
}

.button-devolucion:active .button-devolucion__int {
  padding: 2px 10px;
}

.button-devolucion:hover {
  border-radius: 1.5em;
  pointer: select;
}

.button-devolucion:hover .button-devolucion__int {
  border-radius: 1.3em;
}

.button-devolucion:hover .button-devolucion__int {
  box-shadow: -1.5px -1px 30px -10px rgba(46, 255, 67, 0.8),
  1.5px -1px 25px -10px rgba(0, 255, 200, 0.7),
  1.5px 1px 25px -10px rgba(0, 0, 0, 0.7),
  -1.5px 1px 25px -10px rgba(0, 0, 0, 0.7);
}

