.button-reporte-detalle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px #343a4038;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button-reporte-detalle:hover {
    width: 68px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #343A40;
    align-items: center;
  }
  
  .button-reporte-detalle:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button-reporte-detalle::before {
    position: absolute;
    bottom: -20px;
    content: "Ver detalle";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button-reporte-detalle:hover::before {
    font-size: 11px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  